/* Basic editor styles */

.tiptap .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

.tiptap {

  >*+* {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  ul {
    list-style: disc;
  }

  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
    
  
    p {
      margin: 0;
    }
  
    li {
      display: flex;
  
      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
        // input[type='checkbox'] {
        //   // Hide the default checkbox
        //   display: none;
  
        //   // Custom checkbox styling
        //   & + span {
        //     display: inline-block;
        //     width: 1em;
        //     height: 1em;
        //     margin-right: 0.5em;
        //     border: 1px solid red; // Border color
        //     // background-color: red; // Background color
        //     color: #0D0D0D;
        //     // Add more styles for your custom checkbox here
        //   }
  
        //   // Style for when the checkbox is checked
        //   &:checked + span {
        //     background-color: blue; // Change to your desired color
        //     // Add more styles for your checked state here
        //   }
        // }

        // input[type='checkbox'] {
        //   display: none;
  
        //   & + span {
        //     display: inline-block;
        //     width: 1em;
        //     height: 1em;
        //     margin-right: 0.5em;
        //     // border: 1px solid red; // Border color
        //     background-color: #FE6902; // Background color
        //     position: relative; // Needed for positioning the pseudo-element
  
        //     // Custom checkmark
        //     &::after {
        //       content: '';
        //       position: absolute;
        //       width: 0.5em;
        //       height: 0.2em;
        //       border-bottom: 2px solid #0D0D0D; // Checkmark color
        //       border-left: 2px solid #0D0D0D; // Checkmark color
        //       transform: rotate(-45deg);
        //       top: 0.2em;
        //       left: 0.25em;
        //       opacity: 0; // Hide by default
        //     }
        //   }
  
        //   &:checked + span {
        //     // background-color: blue; // Background color when checked
  
        //     // Show the checkmark when checked
        //     &::after {
        //       opacity: 1;
        //     }
        //   }
        // }

      }
  
      > div {
        flex: 1 1 auto;
      }
  
      ul li,
      ol li {
        display: list-item;
      }
      
      ul[data-type="taskList"] > li {
        display: flex;
      }
    }
  }

  ol {
    list-style: decimal;
  }

  h1 {
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 0%;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #8a009d;
  }

  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.1);
    margin: 2rem 0;
  }



  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

}